<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxcC8fLSZJmZtZqFtIClleTC3wOcb4B9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>774270292841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppIsoz</string>
	<key>PROJECT_ID</key>
	<string>isoz-todo-59741-4a891</string>
	<key>STORAGE_BUCKET</key>
	<string>isoz-todo-59741-4a891.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774270292841:ios:bfd5cc910821b058e3e3f8</string>
</dict>
</plist>